<!DOCTYPE html>
<html lang="en"   xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="post-container">
    <!--  <h6>Posted by <span th:text="${user.username}"</h6><br><br>-->
        <h1><span th:text="${post.title}"></span></h1><br>
        <h4><span th:text="${post.content}"></span></h4><br><br>

        <input type="button" value="Homepage" onclick="window.location.href='/reddit-clone-app/'; return false; "/><br><br>

    </div>
</body>
</html>